site_name: Notes

theme:
  name: material
  font:
    text: Lora           # Letra elegante para lectura larga
    code: JetBrains Mono # Letra clara para tus bloques de código
  language: es
  palette:
    - scheme: default
      primary: black
      accent: blue
      toggle:
        icon: material/weather-night
        name: Cambiar a modo oscuro
    - scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Cambiar a modo claro
  features:
    - content.code.copy
  

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Visión general: index.md
  - Math: math.md
  - CompTIA: comptia.md
  - Lógica y Estructuras: logica_estructuras.md
  - Git y GitHub: git_github.md
  - Linux CLI: linux_cli.md
  - Materias UVEG: materias_uveg.md